/* Importación de fuentes de google fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght300;@900&display=swap');

/* Agregado ----------Es para reseatear los valores que por defecto traen estos atributos en los navegadores */
html, body{
    margin: 0;
    padding: 0;
}


body {
    /*background-image: url(ubicacion de la foto de fondo, debe ser la misma carpeta); */
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif; /* tipo de fuente */
    letter-spacing: 0.03em;
    line-height: 1.6;
    /*background-image: url(ubicacion de la foto de fondo, debe ser la misma carpeta); */
    background-size:auto;
    background-color: #f0f3bd;
}
 /* header desde*/
.cabecera {
  display: flex;
  background: #028090;
  justify-content: space-between;
  padding-top: 3px;
  padding-bottom: 1px;
  width: 100%;
}

.cabecera__menu {
   display: flex;
    width: 100%;
    align-items: center;
    list-style: none;
    padding-top: 5px;
}

.cabecera__item {
    margin-right: 50px;
    text-transform: uppercase; /* transforma minúsculas en mayusculas */
    font-family: 'Poppins', sans-serif; /* tipo de fuente */
    font-size: larger;
    font-weight: bolder;
}

.cabecera__item a {
    text-decoration: none; /* le quita el subrayado del link */
    color: #f0f3bd;
}

.cabecera__logo {
  padding-left: 50px;
  align-items: center;
}
/* header hasta*/

.formulario {
    text-align: center;
}
/* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

.contact_form {
  width: 430px;
  height: auto;
  margin: 30px auto;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  /*usando generador de css*/
  padding-left: 5px;
  background: rgba(71, 151, 197, 0.95);
  background: linear-gradient(166deg, rgba(71, 151, 197, 0.95) 0%, rgba(71, 197, 193, 0.94) 80%);
  background: -webkit-linear-gradient(166deg, rgba(71, 151, 197, 0.95) 0%, rgba(71, 197, 193, 0.94) 80%);
  background: -moz-linear-gradient(166deg, rgba(71, 151, 197, 0.95) 0%, rgba(71, 197, 193, 0.94) 80%);
}

input{
  width: 320px; 
  height: 35px; 
  border-radius: 1px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #4797c5; 
  margin-top: 1px;  
  padding-left: 1px;
  margin-bottom: 1px; 
  /*usando generador de css*/
  border-radius: 77px 77px 77px 77px;
  -webkit-border-radius: 77px 77px 77px 77px;
  -moz-border-radius: 77px 77px 77px 77px;
  background: #ffffff;
}

textarea{
  background-color: #fbfbfb; 
  width: 308px; 
  height: 80px; 
  
  border-style: solid; 
  
  border-color: #4797c5; 
  margin-top: 5px;  
  padding-left: 5px;
  margin-bottom: 5px; 
  padding-top: 5px; 
/*usando generador de css*/
  border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
 
}

label{
  display: block; 
  float: center;  
}

button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 5px; 
  margin-top: 5px;   
  text-transform: uppercase;
  
  border-color: #4797c5; 
  border-style: solid; 
   
  width: 150px;   
  cursor: pointer;
 /*usando generador de css*/
  border-radius: 46px 46px 46px 46px;
  -webkit-border-radius: 46px 46px 46px 46px;
  -moz-border-radius: 46px 46px 46px 46px;
  background: #256b94;

}


button p{
  color: #ffffff; 
}

h1{
  font-size: 24px; 
  text-align: letf; 
  
  color: #0e0e0e;
}

h3{
  font-size: 16px;
  
  color: #0e0e0e;   
}

p{
  font-size: 14px; 
  color: #0e0e0e; 
}

span{
  color: #ab4493; 
}
.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
 
}

::-webkit-input-placeholder {
 color: #7f8584;
}


::-webkit-textarea-placeholder {
 color: #7f8584;
}

.formulario input:focus{
  outline:0;
  border: 3px solid #00a896;
}

.formulario textarea:focus{
  outline:0;
  border: 3px solid #00a896;}

/* --------------------------------------- */
/* las clases van con .clase, y pueden ir por separado, en lo personal prefiero ponerlas por separado para no marearme*/
.pie {
  background-color: #00a896; /* color del pie de la pagina */
  position: fixed; /* acomoda el footer */
  height: 50px;
  bottom: 0; /* proximidad al piso de la pagina - Posicionamos el pie pegada hacia abajo*/
  width: 100%; /* ancho */
  text-align: center;
  /* left: 0; */ /* Posicionamos el pie al lado izquierdo */
  display: flex;
}

.pie__redes{
  display: flex; /* esto es para que lo items q contiene la ul se coloquen horizontal */
  justify-content: space-around; /* espacio alrededor de los elementos */
  width: 100%;
  list-style: none; /* para quitarle la viñeta a los li de las ul */
}

.pie__icono {
  width: 23px; /* ancho del icono */
  height: 23px; /*alto del icono */
}

/*---------------- RESPONSIVE------------------ */
@media screen and (max-width: 425px) {
  body, header {
      width: 425px;
  }

  .cabecera{
      padding-left: 0;
  }
  
  .cabecera__logo img {
      padding-top: 15px;
  }

  .cabecera__menu {
      flex-direction: column;
      width: 200px;
  }

  .contact_form {
    max-width: 425px;
    padding-left: 0;
  }

  .pie {
      max-width: 425;
  }

  .pie__redes {
      flex: auto;
      width: 300px;
      justify-content: space-around;
      text-align: center;
  }
}
@media screen and(max-width:767px){
  .cabecera__menu {width: auto;}
  
  .pie__redes{
      width: 85%;
      padding-left: 0;}
  }
